html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

.option {
    float: right;
    display: flex;
    flex-direction: column;
}

.option a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: center;
}

.option>a>img {
    width: 50px;
    height: 40px;
}

.option:active{
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);    
}

.option:hover {
    transform: scale(1.09);
    transition: ease-in 0.09s;
}

/* replace #somebutton with button id */
#somebutton{
    border-radius: 20px;
    padding: 8px 40px;
    background-color: #ffa62b;
    color: #ffff;
    border: none;
}

#somebutton:hover {
    box-shadow: 1px 1px 1px 2px gray;
    transform: scale(1.04);
    transition: ease-in 0.03s;
}

#somebutton:active {
    background-color: #8b622a;
}

@media screen and (min-width:300px)and (max-width:499px) {
    body{
        min-width:350px;
    }
    .container {
        background-image: url(../images/Mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #logo{
        order:2;
        transform: scale(1.5);
    }

    .navbarul>.option:nth-child(n+4){
        display:none;
    }


}

@media screen and (min-width:500px) and (max-width:850px) {
    .navbarul>.option:nth-child(n+4) {
        display: none;
    }
    main{
        margin-top: 20px;
    }
}

@media screen and (min-width:500px) and (max-width:3400px) {
    .container {
        background-image: url();
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    main {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
    }

    form {
        padding: 30px;
        width: 400px;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 70.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
    
    }

}