html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 10px;
}

.navbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding: 10px;
}

.option {
    float: right;
    display: flex;
    flex-direction: column;
}

.option a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    align-items: center;
}

.option>a>img {
    width: 50px;
    height: 40px;
}

.option:active {
    filter: invert(100%) sepia(16%) saturate(7463%) hue-rotate(222deg) brightness(119%) contrast(115%);
}

.option:hover {
    transform: scale(1.09);
    transition: ease-in 0.09s;
}

#username {
    font-size: 1em;
    color: #4874B5;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

p {
    margin: 10px 0 0;

}

#logout {
    border-radius: 20px;
    padding: 8px 40px;
    background-color: #ffa62b;
    color: #ffff;
    border: none;
    margin-bottom: 10px;
}

#logout:hover {
    box-shadow: 1px 1px 1px 2px gray;
    transform: scale(1.04);
    transition: ease-in 0.03s;
}

#logout:active {
    background-color: #8b622a;
}

.profilepic {
    width: 30%;
    margin: 20px;
}

@media screen and (min-width:200px)and (max-width:499px) {
    body{
        min-width:350px;
    }
    .container {
        background-image: url(../images/Mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #logo {
        order: 2;
        transform: scale(1.5);
        margin: 5px;
    }

    .navbarul>.option:nth-child(n+4) {
        display: none;
    }

    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 70.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
    }
}

@media screen and (min-width:551px) and (max-width:850px) {
    .navbarul>.option:nth-child(n+4) {
        display: none;
    }

    main {
        margin-top: 20px;
    }
}

@media screen and (min-width:550px) and (max-width:3400px) {
    .container {
        background-image: url(../images/backgroundLong.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%
    }

    .subcontainer {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    main {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 400px;
        background: linear-gradient(180deg, rgba(237, 231, 227, 0) 6.92%, #EDE7E3 98.18%), linear-gradient(180deg, rgba(237, 231, 227, 0.9) 19.36%, rgba(237, 231, 227, 0) 70.18%);
        backdrop-filter: blur(4px);
        border-radius: 20px;
    }

    .form-group {
        display: inline-block;
        text-align: center;
        margin: 2px;
    }

    .form-group>label {
        font-weight: bolder;
    }

    .form-group>input {
        border-radius: 8px;
    }

}